:root {
    --bg-color: #f8f7f3;
    --main-text-color2: #faebd7;
    --main-text-color: #294E5D;
    --second-text-color: #666666;
    --original-price-color: #6666667a;
    --second-bg-color: #F1EAD1;
    --button-color: #00B14F;
    --shadow-color: #9ca5aa;
    --main-color2: #1397e8;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Raleway", sans-serif;
    font-weight: 500;
}

html {
    overflow-y: scroll;
    font-size: 62.5%;
}

body {
    max-width: 1300px;
    margin: 0 auto;
    background-color: var(--bg-color);
    font-size: 1.6rem;
    /* padding: 0 30px; */
}

.container-fluid {
    max-width: 1300px;
    margin: 0 auto;
}

main {
    margin-top: 100px;
    max-width: 1300px;
    text-align: center;
}

header {
    background-color: var(--bg-color);
    padding: 20px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

header,
header * {
    font-family: "Montserrat", sans-serif !important;
}

.navbar-header a {
    font-size: 2.5rem;
    font-weight: 600;
    color: var(--second-text-color);
}

.navbar-header span {
    font-size: 25px;
    font-weight: 600;
    color: var(--main-text-color);
}

.navbar-header {
    margin-top: 0;
    letter-spacing: -3px;
}

.navbar-collapse {
    flex-grow: 0 !important;
    justify-content: center !important;
    transition: all .1s ease;
}

.navbar-nav.header-menu {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0 auto !important;
}

.navbar-nav.ms-auto {
    flex-grow: 0 !important;
    flex-shrink: 0 !important;
    width: auto !important;
    margin-left: auto !important;
}

.header-menu {
    display: flex;
    flex-direction: row;
    flex: 1 1 auto;
    gap: 5px;
    font-size: 1.3rem;
}

.header-menu a {
    color: var(--second-text-color);
}

.header-menu a:hover {
    color: var(--main-text-color);
}

.navbar-default {
    border: none;
}

.header-menu .nav-item .nav-link {
    padding: 6px 10px;
    border-bottom: 2px solid transparent;
    font-weight: 500;
}

.header-menu .nav-item.active .nav-link {
    font-weight: 700;
    border-bottom-color: var(--main-text-color);
    color: var(--main-text-color) !important;
}

.navbar-nav .nav-item.active .nav-link2 {
    color: var(--main-text-color) !important;
    border-bottom-color: var(--main-text-color);
    font-weight: 800;
}

.navbar-right {
    margin-right: 30px;
}

.navbar-right li {
    width: 25px;
}

.container-fluid {
    background-color: var(--bg-color);
    overflow-x: clip !important;
}

.header-bar {
    display: grid;
    grid-template-rows: repeat(2, auto);
    grid-template-columns: repeat(3, auto);
    align-items: center;
    justify-content: space-evenly;
}

.search-container {
    position: relative;
}

.search-input {
    display: none;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    top: 65px;
    width: 0;
    opacity: 0;
    height: 30px;
    line-height: 1;
    border-radius: 20px;
    padding: 5px 15px 5px 25px;
    transition: width .1s ease, opacity .3s ease;
    z-index: 2000;
    border: 1px solid var(--shadow-color);
    font-size: 1.2rem;
    color: #aeaeae !important;
}

.search-input.show {
    display: block;
    width: min(700px, calc(100vw - 200px));
    opacity: 1;
    border: 1px solid var(--shadow-color);
    box-shadow: none;
}

.search-input::placeholder {
    color: var(--shadow-color);
    font-size: 1.2rem;
}

.search-input {
    caret-color: transparent;
}

.nav-link {
    padding: 2px !important;
    font-size: 1.3rem !important;
    color: var(--second-text-color) !important;
}

.nav-link2 {
    padding: 2px !important;
    font-size: 1.8rem !important;
    color: var(--second-text-color) !important;
}

.navbar-nav {
    display: flex;
    align-items: center;
}

.navbar-nav:not(.header-menu) {
    display: flex !important;
    flex-direction: row !important;
    width: auto !important;
    justify-content: flex-end;
}

/* Aquí se indica a partir de qué tamaño de pantalla se mueven los elementos del nav-bar */
@media (max-width: 767px) {

    .navbar .container-fluid {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .navbar-toggler {
        order: 0;
    }

    .navbar-header {
        order: 1;
        margin-left: 8px;
    }

    .navbar-nav:not(.header-menu) {
        order: 2;
        margin-left: auto !important;
    }

    #navbarContent {
        width: 100%;
    }
}

@media (max-width: 402px) {
    .navbar-header a {
        font-size: 2rem;
        font-weight: 600;
        color: var(--second-text-color);
    }

    .navbar-header span {
        font-size: 2rem;
        font-weight: 600;
        color: var(--main-text-color);
    }
}

.navbar-toggler {
    border: none !important;
    background: none !important;
    padding: 0 !important;

}

.navbar-toggler:focus {
    outline: none !important;
    box-shadow: none !important;
}

.navbar-toggler i {
    font-size: 1.8rem;
    color: var(--second-text-color);
}

.navbar-toggler:hover i {
    color: var(--main-text-color);
    transition: .1s ease-in-out;
}

@media (max-width: 767px) {
    .navbar-collapse {
        position: absolute;
        top: 40px;
        left: 0;
        width: auto !important;
        background-color: var(--bg-color);
        padding: 10px 15px;
        z-index: 999;
    }

    .navbar-collapse:not(.show) {
        display: none;
    }

    .navbar-collapse .navbar-nav {
        flex-direction: column !important;
        align-items: flex-start !important;
        gap: 0;
    }
}

.navbar {
    background-color: var(--bg-color) !important;
    border-bottom: none !important;
    box-shadow: none !important;
}

html,
body {
    overflow-x: hidden !important;
}

.navbar-right {
    flex-direction: row;
}

.header-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.navbar-right i {
    color: var(--original-price-color);
    font-size: 2rem;
}

.navbar-right i:hover {
    color: var(--main-text-color);
}

.production_features_section {
    padding-top: 50px;
    padding-bottom: 40px;
}

.core_features_section {
    padding-top: 30px;
    padding-bottom: 30px;
    color: var(--bg-color);
    background-color: #fff;
}

.our_partners_section {
    padding-top: 30px;
    padding-bottom: 50px;
}

.production_features_section h1,
.our_partners_section h1,
.product_features h1 {
    margin: 0 20px;
    color: var(--main-text-color);
    font-weight: 700;
    font-size: 40px;
}

.core_features_section h1 {
    margin: 0 20px;
    color: var(--main-text-color);
    font-weight: 700;
    font-size: 40px;
}

.core_details {
    border-radius: 15px;
    box-shadow: 5px 5px 10px var(--shadow-color);
    background-color: #fff;
}

.core_info {
    padding: 20px;
}

.core_info h2 {
    margin: 20px 20px;
    color: var(--main-text-color);
    font-weight: 700;
    font-size: 20px;
}

.core_info p {
    font-size: 15px;
    color: var(--main-text-color);
}

.core_details span {
    color: var(--button-color);
    font-weight: bolder;
    font-size: 18px;
}

.hero_image {
    width: 100%;
    height: auto;
    display: block;
}

/* .core_features_section {
    background-color: #05b8c8;
} */

.production_features,
.our_partners_details {
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin: 40px 40px;
    font-size: 20px;
    justify-content: center;
}

.production_details {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50px;
    margin: 0 auto;
    font-size: 20px;
}

.core_features {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 50px;
    margin: 40px 40px;
    font-size: 20px;
    justify-content: center;
}

.core_details {
    display: flex;
    flex-direction: column;
    max-width: 400px;
}

.production_details p {
    min-width: 300px;
}

.production_details img {
    border-radius: 15px;
    width: 100%;
    max-width: 400px;
}

.production_info {
    max-width: 600px;
}

.production_details span {
    color: var(--main-text-color);
    font-weight: bolder;
    font-size: 22px;
}

@media (max-width: 768px) {
    .production_details {
        flex-direction: column;
        /* se apilan */
        text-align: center;
        /* centra el texto */
    }

    .production_details img {
        order: -1;
        /* Hace que la imagen quede ARRIBA */
    }
}

footer {
    background-color: var(--main-text-color);
    /* margin-top: 30px; */
    padding: 10px;
    font-size: 1.2rem;
}

.footer-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 40px;
    margin-top: 20px;
}

.footer_menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
}

.footer_cat {
    display: flex;
    flex-direction: column;
    align-items: center;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

h3::not(.features_list) {
    font-size: 1.8rem;
    margin: 10px;
    color: var(--main-text-color2);
}

a {
    color: var(--main-text-color2);
    text-decoration: none;
    text-align: center;
}

a:hover {
    color: var(--second-text-color);
}

p.footer_text {
    color: var(--main-text-color2);
    text-align: center;
    font-size: 1rem;
}

hr {
    width: 100px;
    border: none;
    border-top: 1px solid var(--main-text-color2);
    margin: -5px 0 10px 0;
}

footer a {
    font-size: 1.2rem;
}

.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--main-text-color2);
    align-items: center;
}

.socialmedia i {
    color: var(--main-text-color2);
    font-size: 2rem;
    cursor: pointer;
    margin: 5px;
}

.socialmedia i:hover {
    color: var(--second-text-color);
}

.socialmedia {
    justify-self: center;
}

.footer-logo {
    margin: 0 0 20px 0;
    text-align: center;
}

.footer-h1 {
    font-size: 2.5rem;
    font-weight: 600;
    color: var(--main-text-color2);
    line-height: 1;

}

.footer-h1 span {
    font-size: 2rem;
    font-weight: 600;
    color: var(--main-text-color2);
}

.modal-content label {
    font-size: 1.5rem;
    font-weight: 500;
    color: #5e5e5e;
}

.form-control {
    background-color: #fff;
    width: 80%;
    margin: 10px auto;
    /* esto lo centra */
    padding: 10px;
    /* opcional para que no quede pegado */
    border-radius: 10px;
    /* opcional para estética estilo muebles */
    font-size: 15px;
}

.form-label {
    padding: 0 30px;
    margin-bottom: 0 !important;
}

.contacto-input {
    font-size: 13px;
    color: var(--shadow-color);
}

.contacto-input:focus {
    font-size: 13px !important;
    color: var(--shadow-color) !important;
}

.modal-content h1 {
    margin-top: 20px;
    padding-left: 20px;
    font-size: 2.5rem;
    font-weight: 600;
    color: var(--main-text-color);
}

.btn-primary {
    margin: 20px auto 20px auto !important;
    display: block;
    width: 50px !important;
}

.modal-content {
    border-radius: 20px !important;
}

.about_us {
    margin: 0 20px;
    color: var(--main-text-color);
    font-weight: 700;
    font-size: 40px;
}

.map_image {
    height: auto;
    max-width: 100%;
    min-width: 40%;
    margin: 20px 0 40px 0;
    align-self: center;
}

.about_us_info {
    display: flex;
    flex-direction: column;
    padding-bottom: 30px;
}

.about_us_info p {
    padding: 0 30px;
    font-size: 14px;
}

.about_us_info span {
    color: var(--button-color);
    font-size: 14px;
    font-weight: 700;
}

.products {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px 20px;
    justify-content: space-around;
}

.product_tag {
    overflow: hidden;
    position: relative;

}

.img_container {
    border-radius: 15px;
    overflow: hidden;
}

.product_img {
    width: 300px;
    /* margin-top: 20px; */
    transition: transform 0.3s ease;
    transform-origin: center center;

}

.product_tag img:hover {
    transform: scale(1.3);
}

.product_tag p {
    margin-bottom: 10px;
    color: var(--main-text-color);
    font-weight: 600;
    font-size: 20px;
}

.btn-close {
    width: 20px;
    height: 20px;
    margin: 20px 20px 0 0 !important;
    font-size: 20px;
}

.product_features {
    padding: 20px 0 20px 0;
}

.product_features p {
    margin: 0;
    padding: 0 50px;
}

.features_list {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    gap: 50px;
    justify-content: center;
    flex-wrap: wrap;
}

.features_list h3 {
    font-size: 18px;

}

.features_list li {
    font-size: 12px;
}

.feature_details {
    max-width: 300px;
}

.feature_details i {
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 40px;
    color: var(--button-color);
}

.core_details i {
    padding-top: 30px;
    /* margin-bottom: 20px; */
    font-size: 60px;
    color: var(--button-color);
}

.footer_cat h3 {
    color: var(--main-text-color2);
}

.our_history {
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: center;
    background-color: #fff;
    padding: 20px 0;
    flex-wrap: wrap;
}

.columns {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.timeline {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    padding: 0 20px;
}

.timeline p {
    margin: 0;
    padding: 10px 0 5px;
    font-size: 12px;
}

.title {
    color: var(--main-text-color);
    font-weight: 700;
}

.timeline .year {
    font-size: 12px;
    background-color: #00B14F;
    width: 70px;
    margin: 0;
    padding: 0;
    border-radius: 50px;
    color: var(--bg-color);
}

.info span {
    color: var(--button-color);
    font-weight: 600;
}

.our_history_section h1 {
    padding: 0;
    margin-top: 20px;
    color: var(--main-text-color);
    font-weight: 700;
    font-size: 40px;
}

.our_history_section {
    padding-top: 10px;
    background-color: #fff;
}


.lang-switch button {
    border: none;
    background: transparent;
    cursor: pointer;
    padding: 5px 5px;
    font-weight: 600;
}

.lang-switch button:hover {
    color: var(--main-text-color);
}

.contact_us {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px 0;
    align-items: center;
}

.contact_us h1 {
    margin: 0 20px;
    color: var(--main-text-color);
    font-weight: 700;
    font-size: 40px;
}

.contact_us span{
    color: var(--button-color);
    font-weight: 700;
    font-size: 40px;
}

.contact_us p {
    margin: 0 20px;
    color: var(--main-text-color);
    font-size: 18px;
}

.contact_us img {
    height: auto;
    max-width: 80%;
    border-radius: 10px;
}

.contact_us button {
    background-color: var(--button-color);
    border: none;
    padding: 5px 15px;
    border-radius: 15px;
    color: #fff;
    font-weight: 600;
}

.contact_us button:hover {
    background-color: var(--main-text-color);
}